@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

@import "./colors";
@import "./variables";

@import "bootstrap-sass/lib/bootstrap";

@import "./typography";
@import "./header";
@import "./footer";

.currency-selector {
  padding: 2em;
  border: 1px solid $green;
  background-color: lighten($green, 40%);
  p {
    font-size: $font-size-h3;
    font-weight: bold;
  }
  select: {
    display: inline;
  };
}

.expense-form {
  margin-bottom: 10px;
  button: {
    width: 100%;
  }
}

.expense-info {
  padding: 1em;
  border: 1px solid $yellow;
  background-color: lighten($yellow, 40%);
}

.converted-currency {
  margin: 0;
}