@import "bootstrap-sass/lib/bootstrap";
@import "./custom-variables";

/* Put your CSS here */
html, body {
  margin: 50px 0;
}

.currency-selector {
  padding: 2em;
  border: 1px solid $green;
  background-color: lighten($green, 40%);
  p {
    font-size: $font-size-h3;
    font-weight: bold;
  }
  select: {
    display: inline;
  };
}

.expense-form {
  margin-bottom: 10px;
  button: {
    width: 100%;
  }
}

.expense-info {
  padding: 1em;
  border: 1px solid $yellow;
  background-color: lighten($yellow, 40%);
}