<div class="row">
  <div class="col-md-6">
    <h3>Add a New Expense</h3>
    {{view ExchangeRates.ExpenseForm}}
  </div>
  <div class="col-md-6">
    {{view ExchangeRates.ExpenseInfo}}
  </div>
</div>