<div class="row">
  <div class="col-md-12">
    {{view ExchangeRates.CurrencySelector}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{view ExchangeRates.CurrencyConverter}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{view ExchangeRates.ExpenseSubmission}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{view ExchangeRates.ExpenseLog}}
  </div>
</div>