<div class="row">
  <div class="col-md-12">
    <p class="convert-statement">
      Convert USD to
      {{view Ember.Select content=currencies value=currencySelected class="form-control" prompt="Select Foreign Currency"}}
    </p>
  </div>
</div>